<div class="block">
  <form #empForm="ngForm" (ngSubmit)="onSubmit()" style="display:inline">
    <strong>Edit Employee</strong><br/><br/>
    <div>
      <label for="name"><strong>Name</strong></label><br/>
      <input type="text" required minlength="4" maxlength="20" name="name" #name="ngModel"
        [(ngModel)]="employee.name" />
      <div *ngIf="name.invalid && (name.touched || name.dirty)" class="text-error">
        <small *ngIf="name.errors.required">Name is required.</small>
        <small *ngIf="name.errors.minlength">
          Name must be at least 4 characters long.
        </small>
      </div>
      <br/><br/>
    </div>
    <div>
      <label for="salary"><strong>Salary</strong></label><br/>
      <input type="text" name="salary" #salary="ngModel" [(ngModel)]="employee.salary" />
      <div *ngIf="salary.invalid && (salary.touched || salary.dirty)" class="text-error">
        <small *ngIf="salary.errors.required">Salary is required.</small>
      </div>
      <br/><br/>
    </div>
    <div>
      <label for="inlineRadioOptions"><strong>Is Permanent or not?</strong></label><br/>
      <input type="radio" name="permanent" id="permanentTrue" [value]="true"
          [(ngModel)]="employee.permanent">
      <label for="permanentTrue">Yes</label>
      <input type="radio" name="permanent" id="permanentFalse" [value]="false"
        [(ngModel)]="employee.permanent">
      <label for="permanentFalse">No</label>
      <br/><br/>
    </div>
    <div>
      <label for="departments"><strong>Department</strong></label><br/>
      <select name="selectedDept" (change)="employee.department.id = $event.target.value" 
          ([ngModel])="employee.department.id">
        <option *ngFor="let department of departments" [value]="department.id" 
            [selected]="employee.department.id == department.id">
          {{department.name}}
        </option>
      </select>
      <br/><br/>
    </div>
    <button type="submit" [disabled]="!empForm.valid">Save</button>
  </form>
  </div>
  <div class="block">
    <strong>Employee Model</strong><br>
    <pre>{{employee | json }}</pre>
  </div>
  <div class="block">
    <strong>Angular Generated Form Model</strong><br>
    <pre>{{empForm.value | json}}</pre>
  </div>